<section>
        <form action="/login" method="POST" id="sign">
        <label for="city">City:</label><br>
            <input type="text" id="city" name="city"><br><br>
            <label for="age">Age:</label><br>
            <input type="number" id="age" name="age"><br><br>         
            <label for="homepage">Homepage:</label><br>
            <input type="text" id="age" name="age"><br><br>
            <div>
                <button type="submit" value="submit">Submit</button>
            </div>
        </form>
    </section>