<h1>Sign</h1>


<main>
    <h2><b>our petition to make public transport in Berlin free for everyone!</b></h2><br><br>
    <img src="bus.png">
    <section>
        <form action="/petition" method="POST" id="sign">
            <label for="firstname">First name:</label>
            <input type="text" id="firstname" name="firstname">
            <label for="lastname">Last name:</label>
            <input type="text" id="lastname" name="lastname"><br><br>
            <p><b>Ops, something went wrong. Fill up all the fields, please.</b></p>
            <div>
                <canvas id="firma" width="300px" height="100px"><input style="display: none;" name="signature"></canvas><br><br>
                <button type="submit" value="submit">SUBMIT</button>
            </div>
        </form>
    </section>
</main>









