<h1>Sign</h1>


<main>
    <h2><b>our petition to make public transport in Berlin free for everyone!</b></h2><br><br>
    <img src="bus.png">
    <div><a href="/register"><button id="register">register</button></a><a href="/login"><button id="login">log in</button></a></div>
</main>









