<main>
    <h3><b>Thank you for signing our petition to make public transport free!</b></h3>
    <img src="public/bus.png"><br>
    <a href="signers">See all the signers, we are already {{firme}}!</a>
</main>