
<h3>Are you sure that you want to delete your signature?</h3>
<section>
    <a href="/thanks"><button>No</button></a>
    <a href="/deleted"><button>Yes</button></a>
</section>
<footer>
    <a href="/logout">Log out</a>
</footer>
    