<main>
    {{#if text}}
      {{> text}}
    {{/if}}
</main>
<main>
    {{#if register}}
      {{> register}}
    {{/if}}
</main>
<main>
    {{#if login}}
      {{> login}}
    {{/if}}
</main>
<main>
    {{#if sign}}
      {{> sign}}
    {{/if}}
</main>
<main>
    {{#if thanks}}
      {{> thanks}}
    {{/if}}
</main>
<main>
    {{#if signers}}
      {{> signers}}
    {{/if}}
</main>