<main>
    {{#if text}}
      {{> text}}
    {{/if}}
    {{#if fillup}}
    <p>Ops, something went wrong. Fill up all the fields, please.</p>
    {{/if}}
</main>
<main>
    {{#if thanks}}
      {{> thanks}}
    {{/if}}
</main>
<main>
    {{#if signers}}
      {{> signers}}
    {{/if}}
</main>