<h3>Sign here with a click!</h3>
    {{!-- <canvas id="firma" width="300px" height="100px"><input style="display: none;" name="signature"></canvas><br><br> --}}
        <div>
            <form action="/sign" method="POST" id="sign">
            <button type="submit" value="submit">Submit</button>
            </form>
        </div>
<footer>
    <a href="/logout">Log out</a>
</footer>