
<h3>Thank you for signing our petition to make public transport free!</h3>
<img src="public/bus.png"><br>
    <section>
        <a href="signers">See all the signers, we are already {{firme}}!</a><br><br>
        <a href="editprofile">Edit your profile</a><br><br>
        <a href="delete">Do you want to delete your signature?</a>
    </section>
<footer>
    <a href="/logout">Log out</a>
</footer>